{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% crispy formulario formulario.helper %}

{%block content%}

  <style> 
    .navbar-custom { 
        background-color: #80BBC4; 
    } 
  </style> 
  <nav class="navbar navbar-custom navbar-expand px-0 py-1 justify-content-between" background-color="#e91e63!important">
    <div class="navbar-brand text-light ml-2" >
        
      
    </div>
    </nav>
    
  
{%endblock%}