{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% crispy formulario formulario.helper %}

{%block content%}

  <style> 
    .navbar-custom { 
        background-color: #80BBC4; 
    } 
  </style> 
  <nav class="navbar navbar-custom navbar-expand px-0 py-1 justify-content-between" background-color="#e91e63!important">
    <div class="navbar-brand text-light ml-2" >
      <a href="{% url 'patient' registro.id %}" style="color: azure;"><i class="fas fa-arrow-circle-left" type= "button" ></i></a> 
      {% with share_text=registro.Nombre|add:" "|add:registro.Apellido %}
        Toma de muestra bioimpedancia Paciente: {{share_text}}
      {% endwith %}
    
      
    </div>
    </nav>
    
  <div class="card border-info mb-3" style="max-width: 100%;">
    <div class="card-header" align="center">Análisis bioimpedancia</div>
    <div class="card-body">
      <div class="col">
        <div class="row mt-1">
          <div class="col-sm-5 px-0">
            <form action="{% url 'bioZ' registro.id %}" method="post" enctype="multipart/form-data"> 
              <div class="card border-info mb-2 bg-active px-2 py-1">
                {% csrf_token %}
                {{ form_filebio.document_bio}}  
                <button type="submit" class="btn btn-sm btn-secondary btn-block mt-1">Cargar</button> 
              </div>
            </form>
          </div>
          <div class="col-sm-7 px-0">
            <div class="card mb-2 mr-1 px-2" style="border: none;" align="justify">
              <p><b>Cargue de archivos:</b> Debe cargar los archivo en formato .TXT, el nombre del archivo debe empezar  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table-sm table-bordered mt-1" cellspacing="0" width="100%">
      <thead>
        <tr class= "text-center">
          <th scope="col" colspan="3" class="table-info">Gráficas procesamiento de señal bioimpedancia</th>
        </tr>
      </thead>
      <tbody>
        
         
              <td class='align-middle text-center' >
                {% with name_image=forloop.counter|stringformat:"s" %} 
                {% with name=NomImagbio|add:"1.jpg" %}                 
                  <img class="img-responsive" src="{{ name }}" width="325" height="325"/>
                {% endwith %}
                {% endwith %}
              </td>
          
      </tbody>
    </table>
  </div>
{%endblock%}