{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% crispy formulario formulario.helper %}

{%block content %}
<style> 
  .navbar-custom { 
      background-color: #80BBC4; 
  } 
 
</style> 
  <nav class="navbar navbar-custom navbar-expand px-0 py-1 justify-content-between" background-color="#e91e63!important">

    <div class="navbar-brand text-light ml-2 mr-2" >
      <a href="{% url 'registro' %}" style="color: azure;"><i class="fas fa-arrow-circle-left" type= "button" ></i> </a>
      {% with share_text=registro.Nombre|add:" "|add:registro.Apellido %}
        Detalle Paciente: {{share_text}}
      {% endwith %}
    </div>
  </nav>

  
  <div class="col ml-3 mr-2 px-1">
    <div class="row">
      <div class="card border-info " style="width: 75%">
        <div class="row">
          <div class="col-md">
            <ul class="list-group list-group-flush mt-2">
              <li class="list-group-item"><b>Identificación: </b>{{registro.DocumentoIdentificacion}}</li>
              <li class="list-group-item"><b>Fecha de Nacimiento:</b> {{registro.FechaNacimiento}}</li>
              <li class="list-group-item"><b>Edad: </b> {{registro.Edad}} años</li>
              <li class="list-group-item"><b>Estado Civil:</b> {{registro.EstadoCivil}}</li>
              <li class="list-group-item"><b>Escolaridad:</b> {{registro.Escolaridad}}</li>
              <li class="list-group-item"><b>Ocupación</b> {{registro.Ocupacion}}</li>

            </ul>
          
          </div>
          
          <div class="col-md mr-0">
            <ul class="list-group list-group-flush mt-2">
        
              <li class="list-group-item"><b>Departamento:</b> {{registro.Departamento}}</li>
              <li class="list-group-item"><b>Municipio: </b>{{registro.Municipio}}</li>
              <li class="list-group-item"><b>Zona:</b> {{registro.Zona}}</li>
              <li class="list-group-item"><b>Teléfono: </b> {{registro.Telefono}}</li>
              <li class="list-group-item"><b>Correo</b> {{registro.Telefono}}</li>
              <li class="list-group-item"><b>Dirección</b> {{registro.Direccion}}</li>
            </ul>
          </div>   
        </div>
      </div>
      <div class="card border-info mr-3 ml-2 mb-0" style="width: 22%">
        <div class="card-header ">
          <h5 align="center"><b >Menu</b></h5> 
        </div>
        <h7 align="center" class="list-group-item ">Elija acción a realizar</h7>
        <h6 align="center"><b>
          
          <a href="{% url 'sample2' registro.id %}"><button type="button" class="btn btn-info" style="width: 100%">Análisis Videocoposcópico</button></a>
          <a href="{% url 'spectrography2' registro.id %}"><button type="button" class="btn btn-light" style="width: 100%">Análisis Espectroscópico</button></a>
          <a href="{% url 'notas_medicas2' registro.id %}"><button type="button" class="btn btn-info" style="width: 100%">Notas medicas</button></a>
          <a href="{% url 'resultado2' registro.id %}"><button type="button" class="btn btn-light" style="width: 100%">Resultados</button></a>
          <a href="{% url 'pdf2' registro.id %}"><button type="button" class="btn btn-info" style="width: 100%">Reporte Paciente</button></a>
          <!--<a href="{% url 'reporte' registro.id %}"><button type="button" class="btn btn-info" style="width: 100%">Reporte </button></a>-->
        </b>
        </h6>
      </div>
      
    </div>
  </div>
  
{%endblock%}