{% extends 'base/base.html'%}
{% load crispy_forms_tags %}
{% crispy formulario formulario.helper %}

{%block content %}

    <div class="card border-info mb-3" style="max-width: 100%;">
        <div class="card-header" align="center">Análisis Termográfico</div>
        <div class="card-body">
          <div class="col">
            <div class="row mt-1">
              <div class="col-sm-5 px-0">
                <form action="{% url 'recolecciontermo' registro.id %}" method="post" enctype="multipart/form-data"> 
                  <div class="card border-info mb-2 bg-active px-2 py-1">
                    {% csrf_token %}
                    {{ formT.imageT}}  
                    <button type="submit" class="btn btn-sm btn-secondary btn-block mt-1">Cargar y Procesar</button> 
                  </div>
                </form>
              </div>
              <div class="col-sm-7 px-0">
                <div class="card mb-2 mr-1 px-2" style="border: none;" align="justify">
                  <p><b>Cargue de archivos:</b> Debe cargar los archivo en formato .TXT, el nombre del archivo debe empezar  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{%endblock%}